schema-dev/imkl3-0-0/imkl-wibonbr-2024-01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Changelog.
======================
General: Changes to the 1.2.1 schema are indicated by "adapted 4-2.0".
Startversion is imkl2015-wibonbr.xsd version 1.2.1 published on https://register.geostandaarden.nl/gmlapplicatieschema/imkl2015/1.2.1/imkl2015-wibonbr.xsd
=====================

2020-11-05

Beheerder: adapted conforming imkl-wibon.xsd

Aanvrager: Deleted, not relevant for wibonbr
Opdrachtgever: Deleted, not relevant for wibonbr
Labelpositie: Deleted, not relevant for wibonbr
PuntLijnVlak: Deleted, not relevant for wibonbr


2020-10-30

Landcode as codelist.

Adres:
<element name="postcode" type="string"> -> <element name="postcode" type="string" minOccurs="0">
<element name="BAGidAdresseerbaarObject" type="string" minOccurs="0"> -> <element name="BAGid" type="string" minOccurs="0">
Attribute sequence adapted

Organisatie:
<element name="email" type="string" minOccurs="0" maxOccurs="2"> -> <element name="email" type="string" minOccurs="0" maxOccurs="1"> 


-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:wibonbr="http://www.geostandaarden.nl/imkl/wibonbr" targetNamespace="http://www.geostandaarden.nl/imkl/wibonbr" elementFormDefault="qualified" version="2.0.0">
	
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/-->
	<element name="AanvraagSoortContact" type="wibonbr:AanvraagSoortContactType" substitutionGroup="gml:AbstractObject">
		
	</element>
	<complexType name="AanvraagSoortContactType">
		<sequence>
			<element name="aanvraagSoort" type="gml:ReferenceType">
				
			</element>
			<element name="naam" type="string" minOccurs="0">
				
			</element>
			<element name="telefoon" type="string" minOccurs="0">
				
			</element>
			<element name="email" type="string" minOccurs="0">
				
			</element>
		</sequence>
	</complexType>
	<complexType name="AanvraagSoortContactPropertyType">
		<sequence>
			<element ref="wibonbr:AanvraagSoortContact"/>
		</sequence>
	</complexType>
	<element name="Adres" type="wibonbr:AdresType" substitutionGroup="gml:AbstractObject">
		
	</element>
	<complexType name="AdresType">
		<sequence>
			<!--adapted 4-2.0-->
			<element name="BAGid" type="string" minOccurs="0">
				
			</element>
			<element name="openbareRuimteNaam" type="string">
				
			</element>
			<element name="huisnummer" type="string">
				
			</element>
			<element name="huisletter" type="string" minOccurs="0">
				
			</element>
			<element name="huisnummertoevoeging" type="string" minOccurs="0">
				
			</element>
			<element name="woonplaatsNaam" type="string">
				
			</element>
			<!--adapted 4-2.0-->
			<element name="postcode" type="string" minOccurs="0">
				
			</element>
			<!-- adapted 4-2.0 -->
			<element name="landcode" type="gml:ReferenceType">
				
			</element>
		</sequence>
	</complexType>
	<complexType name="AdresPropertyType">
		<sequence>
			<element ref="wibonbr:Adres"/>
		</sequence>
	</complexType>
	<!--adapted 4-2.0-->
	<element name="Beheerder" type="wibonbr:BeheerderType" substitutionGroup="gml:AbstractFeature">
		
	</element>
	<complexType name="BeheerderType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identificatie" type="wibonbr:NEN3610IDPropertyType">
						
					</element>
					<element name="beginLifespanVersion" type="dateTime">
						
					</element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0">
						
					</element>
					<element name="bronhoudercode" type="string" minOccurs="0">
						
					</element>
					<element name="websiteKlic" type="string" minOccurs="0">
						
					</element>
					<element name="organisatie" type="wibonbr:OrganisatiePropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BeheerderPropertyType">
		<sequence minOccurs="0">
			<element ref="wibonbr:Beheerder"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Belang" type="wibonbr:BelangType" substitutionGroup="wibonbr:BelangGeneriek">
		
	</element>
	<complexType name="BelangType">
		<complexContent>
			<extension base="wibonbr:BelangGeneriekType">
				<sequence>
					<element name="thema" type="gml:ReferenceType" maxOccurs="unbounded">
						
					</element>
					<element name="contactNetinformatie" type="wibonbr:AanvraagSoortContactPropertyType" minOccurs="0" maxOccurs="3">
						
					</element>
					<!-- adapted 4-2.0: attribute deleted -->
					<element name="contactBeschadiging" type="wibonbr:ContactPropertyType" minOccurs="0">
						
					</element>
					<element name="netbeheerder" type="wibonbr:BeheerderPropertyType" minOccurs="0">
						
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BelangPropertyType">
		<sequence minOccurs="0">
			<element ref="wibonbr:Belang"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BelangGeneriek" type="wibonbr:BelangGeneriekType" abstract="true" substitutionGroup="gml:AbstractFeature">
		
	</element>
	<complexType name="BelangGeneriekType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identificatie" type="wibonbr:NEN3610IDPropertyType">
						
					</element>
					<element name="beginLifespanVersion" type="dateTime">
						
					</element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0">
						
					</element>
					<element name="omschrijving" type="string">
						
					</element>
					<element name="gewensteIngangsdatum" type="dateTime" minOccurs="0">
						
					</element>
					<element name="ingangsdatum" type="dateTime" minOccurs="0">
						
					</element>
					<element name="gewensteEinddatum" type="dateTime" minOccurs="0">
						
					</element>
					<element name="einddatum" type="dateTime" minOccurs="0">
						
					</element>
					<element name="beheerpolygoon" type="gml:MultiSurfacePropertyType" minOccurs="0">
						
					</element>
					<element name="contactAanvraag" type="wibonbr:AanvraagSoortContactPropertyType" minOccurs="0" maxOccurs="3">
						
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BelangGeneriekPropertyType">
		<sequence minOccurs="0">
			<element ref="wibonbr:BelangGeneriek"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Contact" type="wibonbr:ContactType" substitutionGroup="gml:AbstractObject">
		
	</element>
	<complexType name="ContactType">
		<sequence>
			<element name="naam" type="string" minOccurs="0">
				
			</element>
			<element name="telefoon" type="string" minOccurs="0">
				
			</element>
			<element name="email" type="string" minOccurs="0">
				
			</element>
		</sequence>
	</complexType>
	<complexType name="ContactPropertyType">
		<sequence>
			<element ref="wibonbr:Contact"/>
		</sequence>
	</complexType>
	<complexType name="IMKLBasisPropertyType">
		<choice minOccurs="0">
			<element ref="wibonbr:BelangGeneriek"/>
			<element ref="wibonbr:Organisatie"/>
		</choice>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="NEN3610ID" type="wibonbr:NEN3610IDType" substitutionGroup="gml:AbstractObject">
		
	</element>
	<complexType name="NEN3610IDType">
		<sequence>
			<element name="namespace" type="string">
				
			</element>
			<element name="lokaalID" type="string">
				
			</element>
			<element name="versie" type="string" minOccurs="0">
				
			</element>
		</sequence>
	</complexType>
	<complexType name="NEN3610IDPropertyType">
		<sequence>
			<element ref="wibonbr:NEN3610ID"/>
		</sequence>
	</complexType>
	<element name="Organisatie" type="wibonbr:OrganisatieType" substitutionGroup="gml:AbstractObject">
		
	</element>
	<complexType name="OrganisatieType">
		<sequence>
			<element name="naam" type="string" minOccurs="0" maxOccurs="2">
				
			</element>
			<element name="kvkNummer" type="string" minOccurs="0">
				
			</element>
			<element name="bezoekAdres" type="wibonbr:AdresPropertyType" minOccurs="0">
				
			</element>
			<element name="postbusAdres" type="wibonbr:PostbusAdresPropertyType" minOccurs="0">
				
			</element>
			<element name="telefoon" type="string" minOccurs="0">
				
			</element>
			<element name="mobiel" type="string" minOccurs="0">
				
			</element>
			<element name="fax" type="string" minOccurs="0">
				
			</element>
			<!--adapted 4-2.0 -->
			<element name="email" type="string" minOccurs="0" maxOccurs="1">
				
			</element>
			<element name="website" type="string" minOccurs="0">
				
			</element>
		</sequence>
		<!--
		<complexContent>
			<extension base="gml:AbstractFeatureType">
-->
		<!--
			</extension>
		</complexContent>
-->
	</complexType>
	<complexType name="OrganisatiePropertyType">
		<sequence minOccurs="0">
			<element ref="wibonbr:Organisatie"/>
		</sequence>
		<!-- adapted 4-2.0
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
-->
	</complexType>
	<element name="PostbusAdres" type="wibonbr:PostbusAdresType" substitutionGroup="gml:AbstractObject">
		
	</element>
	<complexType name="PostbusAdresType">
		<sequence>
			<element name="postbusnummer" type="string">
				
			</element>
			<element name="postcode" type="string">
				
			</element>
			<element name="woonplaatsNaam" type="string">
				
			</element>
			<!-- adapted 4-2.0 -->
			<element name="landcode" type="gml:ReferenceType">
				
			</element>
		</sequence>
	</complexType>
	<complexType name="PostbusAdresPropertyType">
		<sequence>
			<element ref="wibonbr:PostbusAdres"/>
		</sequence>
	</complexType>
	<element name="Veiligheidsgebied" type="wibonbr:VeiligheidsgebiedType" substitutionGroup="wibonbr:BelangGeneriek">
		
	</element>
	<complexType name="VeiligheidsgebiedType">
		<complexContent>
			<extension base="wibonbr:BelangGeneriekType">
				<sequence>
					<element name="beheerderVeiligheidsgebied" type="wibonbr:BeheerderPropertyType">
						
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VeiligheidsgebiedPropertyType">
		<sequence minOccurs="0">
			<element ref="wibonbr:Veiligheidsgebied"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
