schema-dev/imkl3-0-0/imkl-wibon-3.0rc2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- 
===================================================	
	IMKL-WIBON versie 3.0rc2 - Geonovum, 2024
===================================================
Changelog.

General: Changes to the 2.0.0 schema are indicated by "adapted 4-3.0".
Startversion is imkl-wibon.xsd version 2.0.0 published on https://register.geostandaarden.nl/gmlapplicatieschema/imkl/2.0.0/imkl-wibon.xsd

2024-12-3:
target codelists adapted to real targets.
Example:
was: <targetCodeList mlns="http://www.opengis.net/gml/3.3/exr">AanvraagSoortValue</targetCodeList>
changed to: <targetCodeList xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst">AanvraagSoortValue</targetCodeList>

2024-11-29:
ExtraDetailInfo:
attribute: bestandIdentificator: 1 -> 0..1
attribute: ligging: 1 -> 0..1

2024-11-27:
Mantelbuis:
added attribute: kleur 

2024-11-26:
Inhoud gekopieeerd van imkl-wibon3.0rc-intern.xsd en hernoemd naar imkl-wibon3.0rc-extern.xsd

ExtraDetailinfoType/aanlegmethodeGestuurdeBoring
attribuut: aanlegmethodeGestuurdeBoring: 1 -> 0..1

PostbusAdres:
deleted

2024-09-19:

github 353:
Bijlage en EisVoorzorgsmaatregelBijlage samengevoegd en Bijlage verwijderd.
deleted attribute: bijlageType

2024-09-10

alle annotation van de notes velden eruit gehaald. De definities waren niet meer uptodate

2024-09-6

github 345:
Buisspecifiek:
attribute: buismateriaalType: 0..1 -> 1
Kabelspecifiek:
attribute:kabelDiameter: 0..1 -> 1
Kabelbed:
attribute: aantalKabelsLeidingen: 0..1 -> 1
Duct:
attribute: aantalKabelsLeidingen: 0..1 -> 1
KabelEnLeidingContainer
attribute: bovengrondsZichtbaar: 0..1 -> 1
OverigSpecifiek:
attribute: pressure: 0..1 -> 1
Appurtenance:
attribute: specifiekAppurtenanceType: 0..1 -> 0 (dit is aanpassing van een constraint)
ContainerLeidingelement:
attribute: bovengrondsZichtbaar: 0..1 -> 1
Leidingelement:
attribute: bovengrondsZichtbaar: 0..1 -> 1

2024-08-28

github 346: Deze gegevensgroep is als class (gml:AbstractObject) gecodeerd
GebiedsinformatieAanvraag:
changed attribute: soortWerkzaamheden

github 347: Deze gegevensgroep is als class (gml:AbstractObject) gecodeerd. Dit is dezelfde codering als een datatype.
Kabelbed:
added attribute: InfoKabels

github 307:
ExtraDetailInfo:
added attribute: aanlegmethodeGestuurdeBoring

github 314:
KabelOfLeiding: Elektricteitsleiding, Telecommunicatiekable, OlieGAsChemicalienPijpleiding, Rioolleiding, Waterleiding, ThermischePijpleiding, Overig
added attribute: kleur
added attribute: fysiekIdentificatie

github 324:
Mantelbuis:
added attribute: eigenaar
added attribute: gebruiktVan

github 344:
Organisatie:
deleted attribute: postbusadres

====================================== 
-->



<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2"
	xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr"
	xmlns:wibon="http://www.geostandaarden.nl/imkl/wibon"
	xmlns:us-net-common="http://inspire.ec.europa.eu/schemas/us-net-common/4.0"
	xmlns:us-net-el="http://inspire.ec.europa.eu/schemas/us-net-el/4.0"
	xmlns:us-net-ogc="http://inspire.ec.europa.eu/schemas/us-net-ogc/4.0"
	xmlns:us-net-sw="http://inspire.ec.europa.eu/schemas/us-net-sw/4.0"
	xmlns:us-net-tc="http://inspire.ec.europa.eu/schemas/us-net-tc/4.0"
	xmlns:us-net-th="http://inspire.ec.europa.eu/schemas/us-net-th/4.0"
	xmlns:us-net-wa="http://inspire.ec.europa.eu/schemas/us-net-wa/4.0"
	targetNamespace="http://www.geostandaarden.nl/imkl/wibon" elementFormDefault="qualified"
	version="2.0.0">
	<import namespace="http://inspire.ec.europa.eu/schemas/us-net-common/4.0"
		schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-common/4.0/UtilityNetworksCommon.xsd"/>
	<import namespace="http://inspire.ec.europa.eu/schemas/us-net-el/4.0"
		schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-el/4.0/ElectricityNetwork.xsd"/>
	<import namespace="http://inspire.ec.europa.eu/schemas/us-net-ogc/4.0"
		schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-ogc/4.0/OilGasChemicalsNetwork.xsd"/>
	<import namespace="http://inspire.ec.europa.eu/schemas/us-net-sw/4.0"
		schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-sw/4.0/SewerNetwork.xsd"/>
	<import namespace="http://inspire.ec.europa.eu/schemas/us-net-tc/4.0"
		schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-tc/4.0/TelecommunicationsNetwork.xsd"/>
	<import namespace="http://inspire.ec.europa.eu/schemas/us-net-th/4.0"
		schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-th/4.0/ThermalNetwork.xsd"/>
	<import namespace="http://inspire.ec.europa.eu/schemas/us-net-wa/4.0"
		schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-wa/4.0/WaterNetwork.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2"
		schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.3/exr"
		schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/-->
	<element name="AanduidingEisVoorzorgsmaatregel" type="wibon:AanduidingEisVoorzorgsmaatregelType"
		substitutionGroup="wibon:ExtraInformatie"> </element>
	<complexType name="AanduidingEisVoorzorgsmaatregelType">
		<complexContent>
			<extension base="wibon:ExtraInformatieType">
				<sequence>
					<element name="eisVoorzorgsmaatregel" type="string" minOccurs="0"/>
					<element name="contactVoorzorgsmaatregel" type="wibon:ContactPropertyType"/>
					<element name="netbeheerderNetOmschrijving" type="string" minOccurs="0"/>
					<element name="netbeheerderNetAanduiding" type="string"/>
					<element name="netbeheerderWerkAanduiding" type="string" minOccurs="0"/>
					<element name="geometrie" type="gml:GeometryPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AanduidingEisVoorzorgsmaatregelPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:AanduidingEisVoorzorgsmaatregel"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="AanvraagSoortContact" type="wibon:AanvraagSoortContactType"
		substitutionGroup="gml:AbstractObject"> </element>
	<complexType name="AanvraagSoortContactType">
		<sequence>
			<element name="aanvraagSoort" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<targetCodeList
							xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
							>AanvraagSoortValue</targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="naam" type="string" minOccurs="0"> </element>
			<element name="telefoon" type="string" minOccurs="0"> </element>
			<element name="email" type="string" minOccurs="0"> </element>
		</sequence>
	</complexType>
	<complexType name="AanvraagSoortContactPropertyType">
		<sequence>
			<element ref="wibon:AanvraagSoortContact"/>
		</sequence>
	</complexType>
	<element name="Aanvrager" type="wibon:AanvragerType" substitutionGroup="gml:AbstractObject"> </element>
	<complexType name="AanvragerType">
		<sequence>
			<element name="contactpersoon" type="wibon:ContactPropertyType" minOccurs="0"> </element>
			<element name="organisatie" type="wibon:OrganisatiePropertyType" minOccurs="0"> </element>
			<element name="extraContact" type="wibon:ContactPropertyType" minOccurs="0"> </element>
		</sequence>
	</complexType>
	<complexType name="AanvragerPropertyType">
		<sequence>
			<element ref="wibon:Aanvrager"/>
		</sequence>
	</complexType>
	<element name="Achtergrondkaart" type="wibon:AchtergrondkaartType"
		substitutionGroup="gml:AbstractObject"> </element>
	<complexType name="AchtergrondkaartType">
		<sequence>
			<element name="achtergrondkaartSoort" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<targetCodeList
							xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
							>AchtergrondkaartSoortValue</targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="kaartreferentie" type="anyURI"> </element>
		</sequence>
	</complexType>
	<complexType name="AchtergrondkaartPropertyType">
		<sequence>
			<element ref="wibon:Achtergrondkaart"/>
		</sequence>
	</complexType>
	<element name="Adres" type="wibon:AdresType" substitutionGroup="gml:AbstractObject"> </element>
	<complexType name="AdresType">
		<sequence>
			<element name="BAGid" type="string" minOccurs="0"> </element>
			<element name="openbareRuimteNaam" type="string"> </element>
			<element name="huisnummer" type="string"> </element>
			<element name="huisletter" type="string" minOccurs="0"> </element>
			<element name="huisnummertoevoeging" type="string" minOccurs="0"> </element>
			<element name="woonplaatsNaam" type="string"> </element>
			<element name="postcode" type="string" minOccurs="0"> </element>
			<element name="landcode" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<targetCodeList
							xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
							>LandcodeValue</targetCodeList>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="AdresPropertyType">
		<sequence>
			<element ref="wibon:Adres"/>
		</sequence>
	</complexType>
	<!-- adapted 4-3.0 -->
	<element name="InfoKabelbedkabel" type="wibon:InfoKabelbedkabelType"
		substitutionGroup="gml:AbstractObject"> </element>
	<complexType name="InfoKabelbedkabelType">
		<sequence>
			<element name="currentStatus" type="gml:ReferenceType" minOccurs="0"> </element>
			<element name="nominalVoltage" type="gml:MeasureType" minOccurs="0"> </element>
			<element name="kabelDiameter" type="gml:MeasureType" minOccurs="0"> </element>
			<element name="materiaal" type="string" minOccurs="0"> </element>
			<element name="kleur" type="gml:ReferenceType" minOccurs="0">
				<annotation>
					<appinfo>
						<targetCodeList
							xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
							>KleurKabelOfLeidingValue</targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="fysiekeIdentificatie" type="string" minOccurs="0"> </element>
		</sequence>
	</complexType>
	<complexType name="InfoKabelbedkabelPropertyType">
		<sequence>
			<element ref="wibon:InfoKabelbedkabel"/>
		</sequence>
	</complexType>
	<!-- end adapted -->
	<element name="Annotatie" type="wibon:AnnotatieType" substitutionGroup="wibon:ExtraInformatie"> </element>
	<complexType name="AnnotatieType">
		<complexContent>
			<extension base="wibon:ExtraInformatieType">
				<sequence>
					<element name="annotatieType" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>AnnotatieTypeValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="rotatiehoek" type="gml:MeasureType" minOccurs="0"> </element>
					<element name="labelpositie" type="wibon:LabelpositiePropertyType" minOccurs="0"> </element>
					<element name="ligging" type="gml:GeometryPropertyType"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AnnotatiePropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Annotatie"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Appurtenance" type="wibon:AppurtenanceType"
		substitutionGroup="us-net-common:Appurtenance"> </element>
	<complexType name="AppurtenanceType">
		<complexContent>
			<extension base="us-net-common:AppurtenanceType">
				<sequence>
					<!-- adapted 4-3.0 -->
					<element name="bovengrondsZichtbaar" type="boolean">
						<!-- end adapted -->
					</element>
					<element name="geoNauwkeurigheidXY" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>NauwkeurigheidXYvalue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="eanCode" type="string" minOccurs="0"> </element>
					<element name="BGT_ID" type="wibon:NEN3610IDPropertyType" minOccurs="0"> </element>
					<element name="rotatiehoekSymbool" type="gml:MeasureType" minOccurs="0"> </element>
					<element name="dieptelegging" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="heeftExtraInformatie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="extraGeometrie" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
					<element name="hoogte" type="gml:LengthType" minOccurs="0"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AppurtenancePropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Appurtenance"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Beheerder" type="wibon:BeheerderType" substitutionGroup="gml:AbstractFeature"> </element>
	<complexType name="BeheerderType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identificatie" type="wibon:NEN3610IDPropertyType"> </element>
					<element name="beginLifespanVersion" type="dateTime"> </element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0"> </element>
					<element name="bronhoudercode" type="string" minOccurs="0"> </element>
					<element name="websiteKlic" type="string" minOccurs="0"> </element>
					<element name="organisatie" type="wibon:OrganisatiePropertyType" minOccurs="0"
					> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BeheerderPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Beheerder"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Belang" type="wibon:BelangType" substitutionGroup="wibon:BelangGeneriek"> </element>
	<complexType name="BelangType">
		<complexContent>
			<extension base="wibon:BelangGeneriekType">
				<sequence>
					<element name="thema" type="gml:ReferenceType" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>Thema</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="contactNetinformatie"
						type="wibon:AanvraagSoortContactPropertyType" minOccurs="0" maxOccurs="3"> </element>
					<!-- adapted 4-2.0: attribute deleted -->
					<element name="contactBeschadiging" type="wibon:ContactPropertyType"
						minOccurs="0"> </element>
					<element name="netbeheerder" type="gml:ReferenceType" minOccurs="0"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BelangPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Belang"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BelangGeneriek" type="wibon:BelangGeneriekType" abstract="true"
		substitutionGroup="gml:AbstractFeature"> </element>
	<complexType name="BelangGeneriekType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identificatie" type="wibon:NEN3610IDPropertyType"> </element>
					<element name="beginLifespanVersion" type="dateTime"> </element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0"> </element>
					<element name="omschrijving" type="string"> </element>
					<element name="gewensteIngangsdatum" type="dateTime" minOccurs="0"> </element>
					<element name="ingangsdatum" type="dateTime" minOccurs="0"> </element>
					<element name="gewensteEinddatum" type="dateTime" minOccurs="0"> </element>
					<element name="einddatum" type="dateTime" minOccurs="0"> </element>
					<element name="beheerpolygoon" type="gml:MultiSurfacePropertyType" minOccurs="0"> </element>
					<element name="contactAanvraag" type="wibon:AanvraagSoortContactPropertyType"
						minOccurs="0" maxOccurs="3"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BelangGeneriekPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:BelangGeneriek"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Belanghebbende" type="wibon:BelanghebbendeType"
		substitutionGroup="gml:AbstractFeature"> </element>
	<complexType name="BelanghebbendeType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identificatie" type="wibon:NEN3610IDPropertyType"> </element>
					<element name="beginLifespanVersion" type="dateTime"> </element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0"> </element>
					<element name="beheerdersinformatieGeleverd" type="boolean" minOccurs="0"> </element>
					<element name="betrokkenBijAanvraag" type="boolean" minOccurs="0"> </element>

					<element name="indicatieEisVoorzorgsmaatregel" type="boolean" minOccurs="0"> </element>
					<element name="utiliteitsnet" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="eigenTopografie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="bijlage" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="geraaktBelangBijInformatiepolygoon" type="gml:ReferenceType"
						minOccurs="0" maxOccurs="unbounded"> </element>
					<element name="geraaktBelangBijGraafpolygoon" type="gml:ReferenceType"
						minOccurs="0" maxOccurs="unbounded"> </element>
					<element name="geraaktBelangBijOrientatiepolygoon" type="gml:ReferenceType"
						minOccurs="0" maxOccurs="unbounded"> </element>
					<element name="netbeheerder" type="gml:ReferenceType"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BelanghebbendePropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Belanghebbende"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="BuisSpecifiekPropertyType">
		<choice minOccurs="0">
			<element ref="wibon:Mantelbuis"/>
			<element ref="wibon:OlieGasChemicalienPijpleiding"/>
			<element ref="wibon:Overig"/>
			<element ref="wibon:Rioolleiding"/>
			<element ref="wibon:ThermischePijpleiding"/>
			<element ref="wibon:Waterleiding"/>
		</choice>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Contact" type="wibon:ContactType" substitutionGroup="gml:AbstractObject"> </element>
	<complexType name="ContactType">
		<sequence>
			<element name="naam" type="string" minOccurs="0"> </element>
			<element name="telefoon" type="string" minOccurs="0"> </element>
			<element name="email" type="string" minOccurs="0"> </element>
		</sequence>
	</complexType>
	<complexType name="ContactPropertyType">
		<sequence>
			<element ref="wibon:Contact"/>
		</sequence>
	</complexType>
	<complexType name="ContainerLeidingelementPropertyType">
		<choice minOccurs="0">
			<element ref="wibon:Kast"/>
			<element ref="wibon:Mangat"/>
			<element ref="wibon:Mast"/>
			<element ref="wibon:TechnischGebouw"/>
			<element ref="wibon:Toren"/>
		</choice>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Diepte" type="wibon:DiepteType" abstract="true"
		substitutionGroup="gml:AbstractFeature"> </element>
	<complexType name="DiepteType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identificatie" type="wibon:NEN3610IDPropertyType"> </element>
					<element name="beginLifespanVersion" type="dateTime"> </element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
					<element name="diepteNauwkeurigheid" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>NauwkeurigheidDiepteValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="dieptePeil" type="gml:MeasureType"> </element>
					<element name="datumOpmetingDieptePeil" type="dateTime" minOccurs="0"> </element>
					<element name="diepteAangrijpingspunt" type="gml:ReferenceType"> </element>
					<element name="rotatiehoekSymbool" type="gml:MeasureType" minOccurs="0"> </element>
					<element name="ligging" type="gml:PointPropertyType" minOccurs="0"> </element>
					<element name="inNetwork" type="gml:ReferenceType" maxOccurs="unbounded"
					> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DieptePropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Diepte"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="DiepteNAP" type="wibon:DiepteNAPType" substitutionGroup="wibon:Diepte"> </element>
	<complexType name="DiepteNAPType">
		<complexContent>
			<extension base="wibon:DiepteType">
				<sequence>
					<element name="maaiveldPeil" type="gml:MeasureType" minOccurs="0"> </element>
					<element name="datumOpmetingMaaiveldPeil" type="dateTime" minOccurs="0"
					> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DiepteNAPPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:DiepteNAP"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="DiepteTovMaaiveld" type="wibon:DiepteTovMaaiveldType"
		substitutionGroup="wibon:Diepte"> </element>
	<complexType name="DiepteTovMaaiveldType">
		<complexContent>
			<extension base="wibon:DiepteType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DiepteTovMaaiveldPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:DiepteTovMaaiveld"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Duct" type="wibon:DuctType" substitutionGroup="us-net-common:Duct"> </element>
	<complexType name="DuctType">
		<complexContent>
			<extension base="us-net-common:DuctType">
				<sequence>
					<!-- adapted 4-3.0 -->
					<element name="bovengrondsZichtbaar" type="boolean">
						<!-- end adapted -->
					</element>
					<element name="geoNauwkeurigheidXY" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>NauwkeurigheidXYvalue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="toelichting" type="string" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="aantalKabelsLeidingen" type="integer">
						<!-- end adapted -->
					</element>
					<element name="BGT_ID" type="wibon:NEN3610IDPropertyType" minOccurs="0"> </element>
					<element name="dieptelegging" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="heeftExtraInformatie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="extraGeometrie" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DuctPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Duct"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="EigenTopografie" type="wibon:EigenTopografieType"
		substitutionGroup="gml:AbstractFeature"> </element>
	<complexType name="EigenTopografieType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identificatie" type="wibon:NEN3610IDPropertyType"> </element>
					<element name="beginLifespanVersion" type="dateTime"> </element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
					<element name="status" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>EigenTopografieStatusValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="typeTopografischObject" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>TopografischObjectTypeValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="ligging" type="gml:GeometryPropertyType"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EigenTopografiePropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:EigenTopografie"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="EisVoorzorgsmaatregelBijlage" type="wibon:EisVoorzorgsmaatregelBijlageType"
		substitutionGroup="gml:AbstractFeature"> </element>
	<complexType name="EisVoorzorgsmaatregelBijlageType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identificatie" type="wibon:NEN3610IDPropertyType"/>
					<element name="beginLifespanVersion" type="dateTime"/>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0"/>
					<!-- adapted 4-3.0 attribute deleted -->
					<!-- end adapted -->
					<element name="bestandLocatie" type="anyURI" minOccurs="0"> </element>
					<element name="bestandMediaType" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>BestandMediaTypeValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="bestandIdentificator" type="anyURI"> </element>
					<element name="thema" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>ThemaValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="eisVoorzorgsmaatregel" type="string"> </element>
					<element name="toelichting" type="string" minOccurs="0"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EisVoorzorgsmaatregelBijlagePropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:EisVoorzorgsmaatregelBijlage"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Elektriciteitskabel" type="wibon:ElektriciteitskabelType"
		substitutionGroup="us-net-el:ElectricityCable"> </element>
	<complexType name="ElektriciteitskabelType">
		<complexContent>
			<extension base="us-net-el:ElectricityCableType">
				<sequence>
					<element name="geoNauwkeurigheidXY" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>NauwkeurigheidXYvalue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="toelichting" type="string" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="kleur" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>KleurKabelOfLeidingValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="fysiekeIdentificatie" type="string" minOccurs="0"> </element>
					<!-- end adapted -->
					<element name="dieptelegging" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="heeftExtraInformatie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="extraGeometrie" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="kabelDiameter" type="gml:MeasureType">
						<!-- end adapted -->
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ElektriciteitskabelPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Elektriciteitskabel"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ExtraDetailinfo" type="wibon:ExtraDetailinfoType"
		substitutionGroup="wibon:ExtraInformatie"> </element>
	<complexType name="ExtraDetailinfoType">
		<complexContent>
			<extension base="wibon:ExtraInformatieType">
				<sequence>
					<element name="adres" type="wibon:AdresPropertyType" minOccurs="0"> </element>
					<element name="extraInfoType" type="gml:ReferenceType"> </element>
					<element name="bestandLocatie" type="anyURI" minOccurs="0"> </element>
					<element name="bestandMediaType" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>BestandMediaTypeValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<!-- adapted 4-3.0 -->
					<element name="bestandIdentificator" type="anyURI" minOccurs="0"> </element>
					<element name="aanlegmethodeGestuurdeBoring" type="boolean" minOccurs="0"> </element>
					<element name="ligging" type="gml:GeometryPropertyType" minOccurs="0">
						<!-- end adapted 4-3.0 -->
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ExtraDetailinfoPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:ExtraDetailinfo"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ExtraGeometrie" type="wibon:ExtraGeometrieType"
		substitutionGroup="gml:AbstractFeature"> </element>
	<complexType name="ExtraGeometrieType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identificatie" type="wibon:NEN3610IDPropertyType"> </element>
					<element name="beginLifespanVersion" type="dateTime"> </element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0"> </element>

					<element name="vlakgeometrie2D" type="gml:GeometryPropertyType" minOccurs="0"> </element>
					<element name="puntgeometrie2.5D" type="gml:PointPropertyType" minOccurs="0"> </element>
					<element name="lijngeometrie2.5D" type="gml:CurvePropertyType" minOccurs="0"> </element>

					<element name="vlakgeometrie2.5D" type="gml:GeometryPropertyType" minOccurs="0"> </element>
					<element name="geometrie3D" type="gml:SolidPropertyType" minOccurs="0"> </element>
					<element name="inNetwork" type="gml:ReferenceType" maxOccurs="unbounded"
					> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ExtraGeometriePropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:ExtraGeometrie"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ExtraInformatie" type="wibon:ExtraInformatieType" abstract="true"
		substitutionGroup="gml:AbstractFeature"> </element>
	<complexType name="ExtraInformatieType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identificatie" type="wibon:NEN3610IDPropertyType"> </element>
					<element name="beginLifespanVersion" type="dateTime"> </element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
					<element name="inNetwork" type="gml:ReferenceType" maxOccurs="unbounded"
					> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ExtraInformatiePropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:ExtraInformatie"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GebiedsinformatieAanvraag" type="wibon:GebiedsinformatieAanvraagType"
		substitutionGroup="gml:AbstractFeature"> </element>
	<complexType name="GebiedsinformatieAanvraagType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identificatie" type="wibon:NEN3610IDPropertyType"> </element>
					<element name="beginLifespanVersion" type="dateTime"> </element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0"> </element>
					<element name="ordernummer" type="string" minOccurs="0"> </element>
					<element name="positienummer" type="string" minOccurs="0"> </element>
					<element name="klicMeldnummer" type="string" minOccurs="0"> </element>
					<element name="aanvrager" type="wibon:AanvragerPropertyType"> </element>
					<element name="referentie" type="string"> </element>
					<element name="opdrachtgever" type="wibon:OpdrachtgeverPropertyType"
						minOccurs="0"> </element>
					<element name="aanvraagSoort" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>AanvraagSoortValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="voorbereidingCoordinatieCivieleWerken" type="boolean"
						minOccurs="0"> </element>
					<element name="voorbereidingMedegebruikFysiekeInfrastructuur" type="boolean"
						minOccurs="0"> </element>
					<element name="aanvraagDatum" type="dateTime"> </element>
					<!-- adapted 4-3.0-->
					<element name="soortWerkzaamheden" type="wibon:WerkzaamhedenInfoType"
						minOccurs="0"> </element>
					<!-- end adapted -->
					<element name="omschrijvingWerkzaamheden" type="string" minOccurs="0"> </element>
					<element name="locatieWerkzaamheden" type="wibon:AdresPropertyType"> </element>
					<element name="locatieOmschrijving" type="string" minOccurs="0"> </element>
					<element name="startDatum" type="date" minOccurs="0"> </element>
					<element name="eindDatum" type="date" minOccurs="0"> </element>
					<element name="huisaansluitingAdressen" type="wibon:AdresPropertyType"
						minOccurs="0" maxOccurs="unbounded"> </element>
					<element name="informatiepolygoon" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="graafpolygoon" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="orientatiepolygoon" type="gml:ReferenceType" minOccurs="0"
					> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GebiedsinformatieAanvraagPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:GebiedsinformatieAanvraag"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GebiedsinformatieLevering" type="wibon:GebiedsinformatieLeveringType"
		substitutionGroup="gml:AbstractFeature"> </element>
	<complexType name="GebiedsinformatieLeveringType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identificatie" type="wibon:NEN3610IDPropertyType"> </element>
					<element name="beginLifespanVersion" type="dateTime"> </element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0"> </element>
					<element name="leveringsvolgnummer" type="integer"> </element>
					<element name="datumLeveringSamengesteld" type="dateTime"> </element>
					<element name="indicatieLeveringCompleet" type="boolean"> </element>
					<element name="achtergrondkaart" type="wibon:AchtergrondkaartPropertyType"
						maxOccurs="2"> </element>
					<element name="belanghebbende" type="wibon:BelanghebbendePropertyType"
						minOccurs="0" maxOccurs="unbounded"> </element>
					<element name="aanvraag" type="gml:ReferenceType"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GebiedsinformatieLeveringPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:GebiedsinformatieLevering"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Graafpolygoon" type="wibon:GraafpolygoonType"
		substitutionGroup="gml:AbstractFeature"> </element>
	<complexType name="GraafpolygoonType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identificatie" type="wibon:NEN3610IDPropertyType"> </element>
					<element name="beginLifespanVersion" type="dateTime"> </element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0"> </element>
					<element name="geometrie" type="gml:SurfacePropertyType"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GraafpolygoonPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Graafpolygoon"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="IMKLBasisPropertyType">
		<choice minOccurs="0">
			<element ref="wibon:Beheerder"/>
			<element ref="wibon:BelangGeneriek"/>
			<element ref="wibon:Belanghebbende"/>
			<element ref="wibon:EisVoorzorgsmaatregelBijlage"/>
			<element ref="wibon:Diepte"/>
			<element ref="wibon:EigenTopografie"/>
			<element ref="wibon:ExtraGeometrie"/>
			<element ref="wibon:ExtraInformatie"/>
			<element ref="wibon:GebiedsinformatieAanvraag"/>
			<element ref="wibon:GebiedsinformatieLevering"/>
			<element ref="wibon:Graafpolygoon"/>
			<element ref="wibon:Informatiepolygoon"/>
			<element ref="wibon:Orientatiepolygoon"/>
			<element ref="wibon:Utiliteitsnet"/>
		</choice>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Informatiepolygoon" type="wibon:InformatiepolygoonType"
		substitutionGroup="gml:AbstractFeature"> </element>
	<complexType name="InformatiepolygoonType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identificatie" type="wibon:NEN3610IDPropertyType"> </element>
					<element name="beginLifespanVersion" type="dateTime"> </element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0"> </element>
					<element name="geometrie" type="gml:SurfacePropertyType"> </element>
					<element name="geometrieVoorVisualisatie" type="gml:GeometryPropertyType"
						minOccurs="0"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="InformatiepolygoonPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Informatiepolygoon"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="KabelEnLeidingContainerPropertyType">
		<choice minOccurs="0">
			<element ref="wibon:Duct"/>
			<element ref="wibon:Mantelbuis"/>
		</choice>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="KabelOfLeidingPropertyType">
		<choice minOccurs="0">
			<element ref="wibon:Elektriciteitskabel"/>
			<element ref="wibon:OlieGasChemicalienPijpleiding"/>
			<element ref="wibon:Overig"/>
			<element ref="wibon:Rioolleiding"/>
			<element ref="wibon:Telecommunicatiekabel"/>
			<element ref="wibon:ThermischePijpleiding"/>
			<element ref="wibon:Waterleiding"/>
		</choice>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="KabelSpecifiekPropertyType">
		<choice minOccurs="0">
			<element ref="wibon:Elektriciteitskabel"/>
			<element ref="wibon:Overig"/>
			<element ref="wibon:Telecommunicatiekabel"/>
		</choice>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Kabelbed" type="wibon:KabelbedType" substitutionGroup="wibon:Duct"> </element>
	<!-- adapted 4-3.0 -->
	<complexType name="KabelbedType">
		<complexContent>
			<extension base="wibon:DuctType">
				<sequence minOccurs="0">
					<element name="infoKabels" type="wibon:InfoKabelbedkabelType" minOccurs="0"
						maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- end adapted -->
	<complexType name="KabelbedPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Kabelbed"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Kast" type="wibon:KastType" substitutionGroup="us-net-common:Cabinet"> </element>
	<complexType name="KastType">
		<complexContent>
			<extension base="us-net-common:CabinetType">
				<sequence>
					<!-- adapted 4-3.0 -->
					<element name="bovengrondsZichtbaar" type="boolean">
						<!-- end adapted -->
					</element>
					<element name="geoNauwkeurigheidXY" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>NauwkeurigheidXYvalue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="BGT_ID" type="wibon:NEN3610IDPropertyType" minOccurs="0"> </element>
					<element name="rotatiehoekSymbool" type="gml:MeasureType" minOccurs="0"> </element>
					<element name="dieptelegging" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="inNetwork" type="gml:ReferenceType" maxOccurs="unbounded"> </element>
					<element name="heeftExtraInformatie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="extraGeometrie" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="KastPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Kast"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="LabelPropertyType">
		<choice minOccurs="0">
			<element ref="wibon:Appurtenance"/>
			<element ref="wibon:Diepte"/>
			<element ref="wibon:Duct"/>
			<element ref="wibon:EigenTopografie"/>
			<element ref="wibon:Elektriciteitskabel"/>
			<element ref="wibon:ExtraInformatie"/>
			<element ref="wibon:Kast"/>
			<element ref="wibon:Mangat"/>
			<element ref="wibon:Mantelbuis"/>
			<element ref="wibon:Mast"/>
			<element ref="wibon:OlieGasChemicalienPijpleiding"/>
			<element ref="wibon:Overig"/>
			<element ref="wibon:Rioolleiding"/>
			<element ref="wibon:TechnischGebouw"/>
			<element ref="wibon:Telecommunicatiekabel"/>
			<element ref="wibon:ThermischePijpleiding"/>
			<element ref="wibon:Toren"/>
			<element ref="wibon:Utiliteitsnet"/>
			<element ref="wibon:Waterleiding"/>
		</choice>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Labelpositie" type="wibon:LabelpositieType"
		substitutionGroup="gml:AbstractObject"> </element>
	<complexType name="LabelpositieType">
		<sequence>
			<element name="aangrijpingHorizontaal" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<targetCodeList
							xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
							>LabelpositieValue</targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="aangrijpingVerticaal" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<targetCodeList
							xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
							>LabelpositieValue</targetCodeList>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="LabelpositiePropertyType">
		<sequence>
			<element ref="wibon:Labelpositie"/>
		</sequence>
	</complexType>
	<complexType name="LeidingelementPropertyType">
		<choice minOccurs="0">
			<element ref="wibon:Appurtenance"/>
		</choice>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Maatvoering" type="wibon:MaatvoeringType"
		substitutionGroup="wibon:ExtraInformatie"> </element>
	<complexType name="MaatvoeringType">
		<complexContent>
			<extension base="wibon:ExtraInformatieType">
				<sequence>
					<element name="maatvoeringsType" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>MaatvoeringsTypeValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="rotatiehoek" type="gml:MeasureType" minOccurs="0"> </element>
					<element name="labelpositie" type="wibon:LabelpositiePropertyType" minOccurs="0"> </element>
					<element name="ligging" type="gml:GeometryPropertyType"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MaatvoeringPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Maatvoering"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Mangat" type="wibon:MangatType" substitutionGroup="us-net-common:Manhole"> </element>
	<complexType name="MangatType">
		<complexContent>
			<extension base="us-net-common:ManholeType">
				<sequence>
					<!-- adapted 4-3.0 -->
					<element name="bovengrondsZichtbaar" type="boolean">
						<!-- end adapted -->
					</element>
					<element name="geoNauwkeurigheidXY" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>NauwkeurigheidXYvalue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="BGT_ID" type="wibon:NEN3610IDPropertyType" minOccurs="0"> </element>
					<element name="rotatiehoekSymbool" type="gml:MeasureType" minOccurs="0"> </element>
					<element name="dieptelegging" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="inNetwork" type="gml:ReferenceType" maxOccurs="unbounded"> </element>
					<element name="heeftExtraInformatie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="extraGeometrie" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MangatPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Mangat"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Mantelbuis" type="wibon:MantelbuisType" substitutionGroup="us-net-common:Pipe">
		<!-- addapted 4-3.0 -->
	</element>
	<element name="eigenaar" type="boolean"/>
	<!-- end adapted -->
	<complexType name="MantelbuisType">
		<complexContent>
			<extension base="us-net-common:PipeType">
				<sequence>
					<!-- adapted 4-3.0 -->
					<element name="bovengrondsZichtbaar" type="boolean">
						<!-- end adapted -->
					</element>
					<element name="geoNauwkeurigheidXY" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="toelichting" type="string" minOccurs="0"> </element>
					<element name="aantalKabelsLeidingen" type="integer" minOccurs="0"> </element>
					<element name="BGT_ID" type="wibon:NEN3610IDPropertyType" minOccurs="0"> </element>
					<element name="dieptelegging" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="heeftExtraInformatie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="extraGeometrie" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="buismateriaalType" type="gml:ReferenceType">
						<!-- end adapted -->
					</element>
					<!-- adapted 4-3.0 -->
					<element name="eigenaar" type="boolean"/>
					<element name="gebruiktVan" type="string" minOccurs="0"/>
					<element name="kleur" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>KleurKabelOfLeidingValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<!-- end adapted -->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MantelbuisPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Mantelbuis"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Mast" type="wibon:MastType" substitutionGroup="us-net-common:Pole"> </element>
	<complexType name="MastType">
		<complexContent>
			<extension base="us-net-common:PoleType">
				<sequence>
					<!-- adapted 4-3.0 -->
					<element name="bovengrondsZichtbaar" type="boolean">
						<!-- end adapted -->
					</element>
					<element name="geoNauwkeurigheidXY" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>NauwkeurigheidXYvalue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="BGT_ID" type="wibon:NEN3610IDPropertyType" minOccurs="0"> </element>
					<element name="rotatiehoekSymbool" type="gml:MeasureType" minOccurs="0"> </element>
					<element name="dieptelegging" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="inNetwork" type="gml:ReferenceType" maxOccurs="unbounded"> </element>
					<element name="heeftExtraInformatie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="extraGeometrie" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MastPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Mast"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="NEN3610ID" type="wibon:NEN3610IDType" substitutionGroup="gml:AbstractObject"> </element>
	<complexType name="NEN3610IDType">
		<sequence>
			<element name="namespace" type="string"> </element>
			<element name="lokaalID" type="string"> </element>
			<element name="versie" type="string" minOccurs="0"> </element>
		</sequence>
	</complexType>
	<complexType name="NEN3610IDPropertyType">
		<sequence>
			<element ref="wibon:NEN3610ID"/>
		</sequence>
	</complexType>
	<element name="OlieGasChemicalienPijpleiding" type="wibon:OlieGasChemicalienPijpleidingType"
		substitutionGroup="us-net-ogc:OilGasChemicalsPipe"> </element>
	<complexType name="OlieGasChemicalienPijpleidingType">
		<complexContent>
			<extension base="us-net-ogc:OilGasChemicalsPipeType">
				<sequence>
					<element name="geoNauwkeurigheidXY" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>NauwkeurigheidXYvalue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="toelichting" type="string" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="kleur" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>KleurKabelOfLeidingValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="fysiekeIdentificatie" type="string" minOccurs="0"> </element>
					<!-- end adapted -->
					<element name="dieptelegging" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="heeftExtraInformatie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="extraGeometrie" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="buismateriaalType" type="gml:ReferenceType">
						<!-- end adapted -->
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OlieGasChemicalienPijpleidingPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:OlieGasChemicalienPijpleiding"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Opdrachtgever" type="wibon:OpdrachtgeverType"
		substitutionGroup="gml:AbstractObject"> </element>
	<complexType name="OpdrachtgeverType">
		<sequence>
			<element name="contactpersoon" type="wibon:ContactPropertyType" minOccurs="0"> </element>
			<element name="organisatie" type="wibon:OrganisatiePropertyType" minOccurs="0"
			> </element>
		</sequence>
	</complexType>
	<complexType name="OpdrachtgeverPropertyType">
		<sequence>
			<element ref="wibon:Opdrachtgever"/>
		</sequence>
	</complexType>
	<element name="Organisatie" type="wibon:OrganisatieType" substitutionGroup="gml:AbstractObject"> </element>
	<complexType name="OrganisatieType">
		<sequence>
			<element name="naam" type="string" minOccurs="0" maxOccurs="2"> </element>
			<element name="kvkNummer" type="string" minOccurs="0"> </element>
			<element name="bezoekAdres" type="wibon:AdresPropertyType" minOccurs="0"> </element>
			<!-- adapted 4-3.0 -->
			<!-- attribute postbusAdres deleted -->
			<!-- end adapted -->
			<element name="telefoon" type="string" minOccurs="0"> </element>
			<element name="mobiel" type="string" minOccurs="0"> </element>
			<element name="fax" type="string" minOccurs="0"> </element>
			<element name="email" type="string" minOccurs="0" maxOccurs="1"> </element>
			<element name="website" type="string" minOccurs="0"> </element>
		</sequence>
	</complexType>
	<complexType name="OrganisatiePropertyType">
		<sequence>
			<element ref="wibon:Organisatie"/>
		</sequence>
	</complexType>
	<element name="Orientatiepolygoon" type="wibon:OrientatiepolygoonType"
		substitutionGroup="gml:AbstractFeature"> </element>
	<complexType name="OrientatiepolygoonType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identificatie" type="wibon:NEN3610IDPropertyType"> </element>
					<element name="beginLifespanVersion" type="dateTime"> </element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0"> </element>
					<element name="geometrie" type="gml:SurfacePropertyType"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OrientatiepolygoonPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Orientatiepolygoon"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Overig" type="wibon:OverigType" substitutionGroup="us-net-common:UtilityLinkSet"> </element>
	<complexType name="OverigType">
		<complexContent>
			<extension base="us-net-common:UtilityLinkSetType">
				<sequence>
					<element name="geoNauwkeurigheidXY" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>KleurKabelOfLeidingValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="toelichting" type="string" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="kleur" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>KleurKabelOfLeidingValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="fysiekeIdentificatie" type="string" minOccurs="0"> </element>
					<!-- end adapted -->
					<element name="dieptelegging" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="heeftExtraInformatie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="extraGeometrie" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="kabelDiameter" type="gml:MeasureType">
						<!-- end adapted -->
					</element>
					<!-- adapted 4-3.0 -->
					<element name="buismateriaalType" type="gml:ReferenceType">
						<!-- end adapted -->
					</element>
					<element name="pipeDiameter" type="gml:MeasureType" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="pressure" type="gml:MeasureType">
						<!-- end adapted -->
					</element>
					<element name="producttype" type="string" minOccurs="0"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OverigPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Overig"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="OverigSpecifiekPropertyType">
		<choice minOccurs="0">
			<element ref="wibon:Overig"/>
		</choice>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<!-- adapted 4-3.0 -->
	<!-- end adapted -->
	<element name="PuntLijnVlak" type="wibon:PuntLijnVlakType"
		substitutionGroup="gml:AbstractObject"> </element>
	<complexType name="PuntLijnVlakType">
		<choice>
			<element name="punt" type="gml:PointPropertyType"> </element>
			<element name="lijn" type="gml:CurvePropertyType"> </element>
			<element name="vlak" type="gml:SurfacePropertyType"> </element>
		</choice>
	</complexType>
	<complexType name="PuntLijnVlakPropertyType">
		<sequence>
			<element ref="wibon:PuntLijnVlak"/>
		</sequence>
	</complexType>
	<element name="Rioolleiding" type="wibon:RioolleidingType"
		substitutionGroup="us-net-sw:SewerPipe"> </element>
	<complexType name="RioolleidingType">
		<complexContent>
			<extension base="us-net-sw:SewerPipeType">
				<sequence>
					<element name="geoNauwkeurigheidXY" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>NauwkeurigheidXYvalue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="toelichting" type="string" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="kleur" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>KleurKabelOfLeidingValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="fysiekeIdentificatie" type="string" minOccurs="0"> </element>
					<!-- end adapted -->
					<element name="dieptelegging" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="heeftExtraInformatie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="extraGeometrie" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="buismateriaalType" type="gml:ReferenceType">
						<!-- end adapted -->
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RioolleidingPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Rioolleiding"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="TechnischGebouw" type="wibon:TechnischGebouwType"
		substitutionGroup="us-net-common:Cabinet"> </element>
	<complexType name="TechnischGebouwType">
		<complexContent>
			<extension base="us-net-common:CabinetType">
				<sequence>
					<!-- adapted 4-3.0 -->
					<element name="bovengrondsZichtbaar" type="boolean">
						<!-- end adapted -->
					</element>
					<element name="geoNauwkeurigheidXY" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>NauwkeurigheidXYvalue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="BGT_ID" type="wibon:NEN3610IDPropertyType" minOccurs="0"> </element>
					<element name="rotatiehoekSymbool" type="gml:MeasureType" minOccurs="0"> </element>
					<element name="dieptelegging" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="inNetwork" type="gml:ReferenceType" maxOccurs="unbounded"> </element>
					<element name="heeftExtraInformatie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="extraGeometrie" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TechnischGebouwPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:TechnischGebouw"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Telecommunicatiekabel" type="wibon:TelecommunicatiekabelType"
		substitutionGroup="us-net-tc:TelecommunicationsCable"> </element>
	<complexType name="TelecommunicatiekabelType">
		<complexContent>
			<extension base="us-net-tc:TelecommunicationsCableType">
				<sequence>
					<element name="geoNauwkeurigheidXY" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>NauwkeurigheidXYvalue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="toelichting" type="string" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="kleur" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>KleurKabelOfLeidingValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="fysiekeIdentificatie" type="string" minOccurs="0"> </element>
					<!-- end adapted -->
					<element name="dieptelegging" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="heeftExtraInformatie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="extraGeometrie" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="kabelDiameter" type="gml:MeasureType">
						<!-- end adapted -->
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TelecommunicatiekabelPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Telecommunicatiekabel"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ThermischePijpleiding" type="wibon:ThermischePijpleidingType"
		substitutionGroup="us-net-th:ThermalPipe"> </element>
	<complexType name="ThermischePijpleidingType">
		<complexContent>
			<extension base="us-net-th:ThermalPipeType">
				<sequence>
					<element name="geoNauwkeurigheidXY" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>NauwkeurigheidXYvalue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="toelichting" type="string" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="kleur" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>KleurKabelOfLeidingValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="fysiekeIdentificatie" type="string" minOccurs="0"> </element>
					<!-- end adapted -->
					<element name="dieptelegging" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="heeftExtraInformatie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="extraGeometrie" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="buismateriaalType" type="gml:ReferenceType">
						<!-- end adapted -->
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ThermischePijpleidingPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:ThermischePijpleiding"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Toren" type="wibon:TorenType" substitutionGroup="us-net-common:Tower"> </element>
	<complexType name="TorenType">
		<complexContent>
			<extension base="us-net-common:TowerType">
				<sequence>
					<!-- adapted 4-3.0 -->
					<element name="bovengrondsZichtbaar" type="boolean">
						<!-- end adapted -->
					</element>
					<element name="geoNauwkeurigheidXY" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>NauwkeurigheidXYvalue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="BGT_ID" type="wibon:NEN3610IDPropertyType" minOccurs="0"> </element>
					<element name="rotatiehoekSymbool" type="gml:MeasureType" minOccurs="0"> </element>
					<element name="dieptelegging" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="inNetwork" type="gml:ReferenceType" maxOccurs="unbounded"> </element>
					<element name="heeftExtraInformatie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="extraGeometrie" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TorenPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Toren"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Utiliteitsnet" type="wibon:UtiliteitsnetType"
		substitutionGroup="us-net-common:UtilityNetwork"> </element>
	<complexType name="UtiliteitsnetType">
		<complexContent>
			<extension base="us-net-common:UtilityNetworkType">
				<sequence>
					<element name="identificatie" type="wibon:NEN3610IDPropertyType"> </element>
					<element name="beginLifespanVersion" type="dateTime"> </element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
					<element name="thema" type="gml:ReferenceType">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>Thema</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="standaardDieptelegging" type="gml:MeasureType" minOccurs="0"> </element>
					<element name="heeftExtraInformatie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="UtiliteitsnetPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Utiliteitsnet"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Veiligheidsgebied" type="wibon:VeiligheidsgebiedType"
		substitutionGroup="wibon:BelangGeneriek"> </element>
	<complexType name="VeiligheidsgebiedType">
		<complexContent>
			<extension base="wibon:BelangGeneriekType">
				<sequence>
					<element name="beheerderVeiligheidsgebied" type="gml:ReferenceType"> </element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VeiligheidsgebiedPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Veiligheidsgebied"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Waterleiding" type="wibon:WaterleidingType"
		substitutionGroup="us-net-wa:WaterPipe"> </element>
	<complexType name="WaterleidingType">
		<complexContent>
			<extension base="us-net-wa:WaterPipeType">
				<sequence>
					<element name="geoNauwkeurigheidXY" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>NauwkeurigheidXYvalue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="toelichting" type="string" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="kleur" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<appinfo>
								<targetCodeList
									xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
									>KleurKabelOfLeidingValue</targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="fysiekeIdentificatie" type="string" minOccurs="0"> </element>
					<!-- end adapted -->
					<element name="dieptelegging" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="heeftExtraInformatie" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded"> </element>
					<element name="extraGeometrie" type="gml:ReferenceType" minOccurs="0"> </element>
					<element name="label" type="string" minOccurs="0"> </element>
					<element name="omschrijving" type="string" minOccurs="0"> </element>
					<!-- adapted 4-3.0 -->
					<element name="buismateriaalType" type="gml:ReferenceType">
						<!-- end adapted -->
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="WaterleidingPropertyType">
		<sequence minOccurs="0">
			<element ref="wibon:Waterleiding"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<!-- adapted 4-3.0 -->
	<element name="WerkzaamhedenInfo" type="wibon:WerkzaamhedenInfoType"
		substitutionGroup="gml:AbstractObject"> </element>
	<complexType name="WerkzaamhedenInfoType">
		<sequence>
			<element name="soortWerkzaamheden" type="gml:ReferenceType" minOccurs="1"
				maxOccurs="unbounded">
				<annotation>
					<appinfo>
						<targetCodeList
							xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
							>SoortWerkzaamhedenValue</targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="methode" type="gml:ReferenceType" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<appinfo>
						<targetCodeList
							xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
							>GraafmethodeValue</targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="maximaleWerkdiepte" type="gml:ReferenceType" minOccurs="1">
				<annotation>
					<appinfo>
						<targetCodeList
							xmlns="http://definities.geostandaarden.nl/imkl2015/id/waardelijst"
							>MaximaleWerkdiepteValue</targetCodeList>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="WerkzaamhedenInfoPropertyType">
		<sequence>
			<element ref="wibon:WerkzaamhedenInfo"/>
		</sequence>
	</complexType>
	<!-- end adapted -->
</schema>
